<div class="form-group">
  <div class="col-xs-12 field_container">
      <%= f.input :password,
            autocomplete: "off",
            label: false,
            input_html: { class: 'form-control' },
            placeholder: 'Password (at least 6 characters)',
            required: false %>
  </div>  
</div>                 