<div class="modal fade modal-recipient" id="add_by_phone" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <label for="phone_for_reset">Phone number</label>
        <input id="phone_for_reset" type="tel" placeholder="Phone" class="contact_point phone form-control" style="font-size:16px"><br/>

        <div class="add_as_links">
          <a href="#" class="btn btn-primary as_sms">Text</a>
          <a href="#" class="btn btn-primary as_voice">Voice</a>
        </div>

        <br/><a class="cancel_btn">Cancel</a>
      </div>
    </div>
  </div>
</div>