<div class="modal fade modal-recipient" id="add_by_email" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <label for="email_for_reset">Email address</label>
          <input id="email_for_reset" type="email" placeholder="email" class="form-control contact_point email" style="font-size:16px"/>
          
          <div class="add_as_links">
            <a href="#" class="btn btn-primary as_email">Send instructions</a>
          </div>

          <br/><a class="cancel_btn">Cancel</a>
        </div>
      </div>
    </div>
</div>