GMAIL_USERNAME: myemail@gmail.com
GMAIL_PASSWORD: mypassword

# Twilio TEST
TWILIO_TEST_SID: ACa2359abac553afd641d9835f894b86ff
TWILIO_TEST_AUTH_TOKEN: e2f0adb7a00cd3e88af6141c791e864d
TWILIO_TEST_PHONE_NUMBER: 15005550006
TWILIO_DEV_PHONE_NUMBER: 15001111111
TWILIO_DEV_PHONE_NUMBER_2: 15002222222

# HTTP auth
TWILIO_HTTP_USER: twilio_user
TWILIO_HTTP_PASSWORD: twilio_password
POSTMARK_HTTP_USER: postmark_user
POSTMARK_HTTP_PASSWORD: postmark_password

URL_MAPPING_HOST: arng.lvh.me:3000
HOST_URL: lvh.me:3000
MAIL_DOMAIN: mail.development.letsarrange.com
MAILNET_DOMAIN: dev.mailnet.co
MAILNET_APP_DOMAIN: devapp.mailnet.co
MAIL_FROM: mail@mail.development.letsarrange.com
SECRET_TOKEN: 142bc3cdca7f8c2db60e095c1a3b32caa1580517406176a3bfd03d68e3955ccc8ace829e7232f8418b898d9f847cdbfb31290018445c60b2dd94d16bf76cd8bd

DELAY_BETWEEN_SMS: 2
DEFAULT_AREA_CODE: 500