<div class="page" id="request_page_4" style="display:none;">

  <%= render partial: 'subnav', locals: { active: 'recipients' } %>

  <p id="recipient_customize_title"><org-resource.name> (at <org.name>)</p>
  <p>Change only the boxes that are different</p>

  <div id="resources"></div>
</div>
