<% provide(:title, 'Organizations') %>
<% content_for :navbar do %>
  <h1 class="larger-header">Organizations</h1>
<% end %>

<div id="organizations">
  <%= render @organizations %>
  <%= link_to "Add organization", new_organization_path, class: "btn btn-success" %>
</div>